/* 
***********************************************
*Author: Baruch Flores                        *
*Homework 19: Clicky Game!                    *
*UCB Extension - Full-Stack Bootcamp          *
*October 2018                                 *
*********************************************** 
*/

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.introp {
    background-color: rgba(128, 128, 128, 0.623);
    border-radius: 2rem;
}

.intro {
    color:aqua;
    text-align: center;
    text-shadow: 2rem;
}