/* 
***********************************************
*Author: Baruch Flores                        *
*Homework 19: Clicky Game!                    *
*UCB Extension - Full-Stack Bootcamp          *
*October 2018                                 *
*********************************************** 
*/

@import url('https://fonts.googleapis.com/css?family=Audiowide');

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.introp {
    background-color: rgba(128, 128, 128, 0.774);
    border-radius: 2rem;
    
}

.intro {
    font-family: 'Audiowide', cursive;
    font-size: 2rem;
    color:whitesmoke;
    text-align: center;
    text-shadow: 2px;
}