/* 
***********************************************
*Author: Baruch Flores                        *
*Homework 19: Clicky Game!                    *
*UCB Extension - Full-Stack Bootcamp          *
*October 2018                                 *
*********************************************** 
*/

@import url('https://fonts.googleapis.com/css?family=Audiowide');

.navbar {
    font-family: 'Audiowide', cursive;
}

.title {
    margin-top: 3rem;
    display: inline-flex;
}